@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}

::selection {
  background: #7c3aed;
  color: white;
}